# Data Extraction Logic Configuration
# Options: API (default) | scrape
TRAIN_DATA_EXTRACTION_LOGIC=API

# API Configuration
TRAIN_API_ENDPOINT=

# Scraping Configuration (Hidden URLs)
TRAIN_DATA_SCRAPE_URL_TEMPLATE=

# Backend Validation API Key
BACKEND_API_KEY=
