.nav_wrapper{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
    background-color: rgba(0, 0, 0, 0.2);

}

.nav_wrapper ul li{    
    display: inline-block;
    margin: 25px 25px;
    font-weight: 450;
}

.nav_wrapper .login_button{
    border: rgb(0, 94, 255);
    border-radius: 11px;
    width: 100px;
    height: 45px;
    font-size: 16px;
    font-weight: 550;
    background-color: rgb(26, 109, 253);
}

.nav_wrapper .signup_button{
    border: transparent;
    border-radius: 11px;
    width: 100px;
    height: 45px;
    font-size: 16px;
    font-weight: 550;
    background-color: transparent;
}

.nav_wrapper ul li :hover{
    color: rgba(8, 131, 255, 0.875);
}